*, *::after, *::before{
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0px;
    position: relative;
    padding: 0px ;
    background-color: #293251;
}

.header{
    margin-top: 1px;
    position: relative;
    width: 100%;
    top: 0px;
    padding: 25px;
    height: 100px;
    color: #fff;
    background: #30948D;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    margin-bottom: 15px;
}
.text-center{

    margin: auto;
} 

.container{
    width: 1000px;
    background-color: #FFF;

    height: 50%;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding: 20px;
}


.weather-container{
    border-radius: 12px;
    padding: 15px;
    width: auto;

    height: 260px;
    background-color: white;
}
