body{
    padding-top:0px ;
    background-color: #293251;
}

.container{
    width: 1000px;
    background-color: #FFF;

    height: 50%;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding: 20px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.weather-container{
    border-radius: 12px;
    padding: 15px;
    width: auto;
    height: 260px;
    background-color: white;
}

.style {

    border-radius: 13px;
    border: solid black;
    margin: 10px;
}
